
.textarea{
    display: block;
    resize: none;

    margin-left: auto;
    margin-right: auto;

    padding: 10px;

    width: 75%;
    height: 100%;

    color: var(--color-5);
    background-color: var(--color-1);
    transition: color 1s, background-color 1s;
}

.area-item{
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    /* text-align: center; */
}

.area-text{
    padding: 10px;
    text-align: center;
}

/* ------------------------------------------- */

#code-text{
    grid-area: code;
    height: 300px;
}

.code-text-output{
    display: none;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.code-text-output li{
    width: 15px;
    height: 30px;
    text-align: center;
}

/* ------------------------------------------- */

#input{
    grid-area: input;
}

#output{
    grid-area: output;
}

#memory{
    /* border-style: none; */
    grid-area: memory;
}

.memory-table{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width:75%;
    background-color: var(--color-1);
    text-align: center;
    transition: background-color 1s;
}