html{
    height: 100%;
}

body{
    height: 100%;

    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 
    "button area";

    background-color: burlywood;
}

p, th, td{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(27, 2, 2);
}

textarea{
    height: 100%;

    resize: none;
    
    margin: 10px;
    padding: 10px;

    font-size: 15px;

    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;

    background-color: white;
}

table{
    margin: 10px;
    padding: 10px;

    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;

    background-color: white;

}

/*----menu-------------------------------------------------------*/

#menu{
    grid-area: button;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: brown;
}

#menu > button{
    width: 100px;
    margin: 10px 20px;

    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

#menu > textarea{
    overflow-y: hidden;

    margin: 0;
    padding: 6px;

    width: 45%;
    height: 12px;
}

#menu > h1{
    font-size: 65px;
    font-family: 'Yusei Magic', sans-serif;
    color: aliceblue;
    margin-bottom: 100px;
}

/*----area-------------------------------------------------------*/

#area{
    height: 95%;
    width: 100%;

    grid-area: area;
    display: grid;
    grid-template: 
    "code code"
    "input memory"
    "output memory";
}

#area_code{
    height: 100%;

    grid-area: code;
    
    display: flex;
    flex-direction: column;

    text-align: center;
}
#area_input{
    height: 100%;

    grid-area: input;

    display: flex;
    flex-direction: column;

    text-align: center;
}
#area_output{
    height: 100%;

    grid-area: output;

    display: flex;
    flex-direction: column;

    text-align: center;
}
#area_memory{
    height: 100%;

    grid-area: memory;

    display: flex;
    flex-direction: column;

    text-align: center;
}