html{
    height: 93.6%;
}

body{    
    height: 100%;
    background-color: burlywood;
}
@media screen and (min-width: 700px){
    body{
        display: grid;

        grid-template-columns: 200px auto;
        grid-template-areas: 
        "nave area";
    }
}

p, th{
    padding: 10px;
    text-align: center;

    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(27, 2, 2);
}

textarea{
    display: block;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    
    width: 75%;
    height: 100%;
    padding: 10px;

    font-size: 15px;

    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;

    background-color: white;
}

table{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    padding: 10px;

    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;

    background-color: white;

}
/*----menu----------------------------------------------*/


#menu{
    grid-area: nave;
    
    padding: 20px;
    width: 86vw;
    height: 60px;
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 10;
    
    background-color: brown;
}

#menu > button{
    width: 100px;
    height: 30px;
    
    margin: 10px 10px;
    
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

#menu > textarea{
    overflow-y: hidden;
    text-justify: auto;
    text-align: center;
    
    margin: 0;
    padding: 6px;
    
    width: 40px;
    height: 12px;
}

#menu > h1{
    
    font-size: 25px;
    font-family: 'Yusei Magic', sans-serif;
    color: aliceblue;
}

@media screen and (min-width: 700px){
    #menu{
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #menu >button{

    }

    #menu > textarea{
        width: 85px;
        margin: 10px;
    }
}

/*----area----------------------------------------------*/

#area{
    margin-top: 100px;

    width: 100vw;

    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template: 
    "code   code"
    "input  output"
    "memory memory";
}
@media screen and (min-width: 700px){
    #area{
        margin-top: 0px;
        width: 100%;

        grid-template: 
        "code   code"
        "input  memory"
        "output memory";
    }
}

#area_code{
    grid-area: code;
    
    display: flex;
    flex-direction: column;

    text-align: center;

    height: 300px;
}

@media screen and (min-width: 700px){
    #area_code{
        height: 100%;
    }
}

#area_input{
    grid-area: input;

    display: flex;
    flex-direction: column;

    text-align: center;
}


#area_output{
    grid-area: output;

    display: flex;
    flex-direction: column;

    text-align: center;
}


#area_memory{
    grid-area: memory;

    display: flex;
    flex-direction: column;

    text-align: center;
}
